/* Slideshow */
.carousel-item {
  height: 400px;
}
/* End Slideshow */

/* About Section */
.container-lg {
  height: 800px;
}
/* End About Section */ ;

/* Media queuries */
@media (max-width:700) {
  .card{
    width: 500px;
  }
 }

@media (min-width:1600) {
  .card{
    width: 200px;
  }
 }

